body {
	font-family: 'Ubuntu', sans-serif;
}
#map {
	display: block;
	width: 960px;
	height: 400px;
	margin: 0 auto;
	-moz-box-shadow: 0px 5px 20px #ccc;
	-webkit-box-shadow: 0px 5px 20px #ccc;
	box-shadow: 0px 5px 20px #ccc;
}
